@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Syncopate:wght@400;700&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav h1:hover {
  color: orangered;
  transition: color 0.5s;
}

/* Navbar Styles */
.navbar-container {
  position: fixed;
  top: 1;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background: rgba(20, 20, 20, 0.605);
  padding: 1px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page-container {
  padding-top: 100px;
  transition: transform 0.3s ease;
  will-change: transform;
}

/* Shadow Styles */
.shadow-internal {
  box-shadow: rgba(12, 12, 12, 0.5) 0px 6px 5px 10px, rgb(35, 35, 35) 0px 0px 0px 4px;
}

.shadow {
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1), -1px -1px 2px rgba(255, 255, 255, 0.3);
}

.mainbox-shadow {

  box-shadow: rgb(28, 27, 27) 0px 0px 0px 2px,
    rgba(13, 13, 13, 0.7) 0px 0px 5px 10px;
}

.shadow1 {
  box-shadow: rgb(15, 15, 15) 0px 0px 0px 2px, rgba(51, 51, 51, 0.6) 1px 2px 2px 0px inset, rgb(30, 30, 30) 0px -2px 1px 0px inset, rgba(15, 15, 15, 0.5) 1px 1px 6px 2px;
}

hr {
  box-shadow: (30, 30, 30) 0px 1px 0px 0px inset, rgb(15, 15, 15) 0px -2px 1px 0px inset;
}

/* Qualification Styles */
.award {
  background-image: url(./Components/Images/awardsvg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Button Styles */
.shedulebutton {
  border: 2px solid black;
  padding: 10px;
  height: 50px;
  background-color: #1E1E1E;
  border-radius: 10px;
}

.shedulebutton:hover {
  background-color: #262626;
  transition: background-color 0.4s ease-in-out;
}

/* Bounce Box Styles */
.bounce-box {
  position: absolute;
  bottom: 120px;
  right: 40px;
  background-color: #1E1E1E;
  color: white;
  padding: 10px 20px;
  border-radius: 12.381% 47.619% 47.619% / 36.1111% 138.889% 138.889%;
  text-align: center;
  animation: bounce 5s infinite;
}

/* Media Queries for Bounce Box */
@media (max-width: 1024px) {
  .bounce-box {
    bottom: 130px;
    right: 20px;
  }
}

@media (max-width: 768px) {
  .bounce-box {
    bottom: 130px;
    right: 10px;
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .bounce-box {
    bottom: 150px;
    right: 5px;
    padding: 6px 12px;
    font-size: 0.8em;
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Custom Dots Styles */
.custom-dots {
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  padding: 7px !important;
  box-shadow: rgb(15, 15, 15) 0px 0px 0px 2px, rgba(51, 51, 51, 0.6) 1px 2px 2px 0px inset, rgb(30, 30, 30) 0px -2px 1px 0px inset, rgba(15, 15, 15, 0.5) 1px 1px 6px 2px;
  height: 45px;
  border-radius: 13px;
  width: 150px !important;
  background-color: #262626;
}

.slick-dots.custom-dots li {
  margin: 0 5px;
}

.slick-dots.custom-dots li button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
}

.slick-dots.custom-dots li button:before {
  content: "|";
  font-size: 25px;
  font-weight: bold;
  color: rgba(235, 221, 221, 0.97);
}

.slick-dots.custom-dots li.slick-active button:before {
  color: #D03216;
}

.slick-next,
.slick-prev {
  display: none !important;
}

/* Custom Arrows Styles */
.custom-prev-arrow,
.custom-next-arrow {
  padding: 7px !important;
  box-shadow: rgb(15, 15, 15) 0px 0px 0px 2px, rgba(51, 51, 51, 0.6) 1px 2px 2px 0px inset, rgb(30, 30, 30) 0px -2px 1px 0px inset, rgba(15, 15, 15, 0.5) 1px 1px 6px 2px;
  height: 45px;
  border-radius: 13px;
  width: 50px;
  background-color: #262626;
  font-size: 24px !important;
}

/* Responsive Adjustments for Custom Dots and Arrows */
@media screen and (max-width: 768px) {
  .custom-dots {
    width: 120px !important;
  }

  .slick-dots.custom-dots li button:before {
    font-size: 20px;
  }

  .custom-prev-arrow,
  .custom-next-arrow {
    width: 40px;
  }
}

@media screen and (max-width: 480px) {
  .custom-dots {
    width: 150px !important;
  }

  .slick-dots.custom-dots li button:before {
    font-size: 18px;
  }

  .custom-prev-arrow,
  .custom-next-arrow {
    width: 40px;
  }
}

/* Question and Answer Styles */
.container {
  position: relative;
  width: 90%;
  margin: 10px auto;
  height: 250px;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  font-size: 1.25rem;
  transform: translateY(0);
  transition: transform 0.2s linear;
}

.container:hover .content {
  transform: translateY(-25%);
}

/* Hide Scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.benefits {
  animation: move-top 2000ms linear infinite;
}

@keyframes move-top {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* Benifites end */

/* Footer Styles */

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #191919;
  bottom: 50px;
  left: -15px;
  min-width: 350px;
  box-shadow: rgb(15, 15, 15) 0px 0px 0px 2px, rgba(51, 51, 51, 0.6) 1px 2px 2px 0px inset, rgb(30, 30, 30) 0px -2px 1px 0px inset, rgba(15, 15, 15, 0.5) 1px 1px 6px 2px;
  z-index: 1;
  border-radius: 13px;
  padding: 10px 0;
}

.dropdown-content a {
  color: #E6E6E6;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #191919;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: none;
}

/* Update to Upgrade Button */
.update2upgrade {
  background-image: linear-gradient(to right, #545657 0%, #191919 51%, #545657 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
}

.update2upgrade:hover {
  background-position: right center;
  text-decoration: none;
}

/* Vertical Line Responsive Adjustments */
@media (max-width: 1024px) {
  .vertical-line {
    left: 100px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .vertical-line {
    display: none;
  }

  .dropdown-content {
    min-width: 320px;
  }
}


/* msg start */

.msgarrow:hover {
  background-image: url(./Components/Images/2CAOf1Muun0RpvPvaXMPvvcw.svg);
  background-repeat: no-repeat;
  text-align: end;
}

/* msg end */



/* shedule call start */
.timeset {
  position: relative;
  
}

.timeset:hover {
  background-image: url('./Components/Images/2CAOf1Muun0RpvPvaXMPvvcw.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #545657;
}

/* Shedule call end */